html, body {
    /*background-color: rgb(32, 33, 51);*/
    /*color: gainsboro;*/
    /*background-image: url("backgrounds/bluetwilight.png");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, monospace;
    font-size: 12px;
    height: 100px;
}

#canvas {
    margin-top: 30px;
}

input {
    background-color: rgba(150, 150, 150, 1);
    border: 1px solid rgba(125, 125, 125, 1);
}

button {
    background-color: rgba(200, 200, 200, 1);
    margin-left: 10px;
    border: 1px solid rgba(125, 125, 125, 1);
    transition: background-color 0.2s ease-in-out;
}

/* Darken the button slightly when hovered */
button:hover {
    background-color: rgba(170, 170, 170, 1);
}

/* Darken the button even more when clicked */
button:active {
    background-color: rgba(140, 140, 140, 1);
}
