html, body {
    /*background-color: rgb(32, 33, 51);*/
    /*color: gainsboro;*/
    /*background-image: url("backgrounds/bluetwilight.png");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, monospace;
    font-size: 12px;
    height: 100px;
}

#canvas {
    margin-top: 30px;
}
